.mobileMenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    background-color: var(--foreground);
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    place-content: space-between;

    padding: 2rem;
    
    z-index: 100;

    .close {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        top: 0.5rem;
        right: 0.5rem;
        opacity: 0.5;
        color: var(--text-dark);
    }

    .links {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;

        a {
            color: var(--text-dark);
            font-size: 1.2rem;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        .signIn {
            background-color: var(--green-light);
            color: var(--foreground);
            padding: 0.5rem 3rem;
            font-size: 1.1rem;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 0.25rem;
        }

        .register {
            background-color: transparent;
            color: var(--text-dark);
            padding: 0.5rem 3rem;
            font-size: 1.1rem;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 0.25rem;
        }
    }
}